.table-main{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 200px;
}

.header-top{
  font-weight: 600;
  text-align: center;
  background-color: #16a085;
  color: #fff;
  padding: 10px 0px;
}
